distichus-ddRADseq.code-workspace 
Mello_2019_samples_lane_1_plate_order.xlsx
Myers_Plate_Order_ddRADseq_Phylogeography.xlsx
sequencing/
library_prep/
writing/
preliminary_sampling_spreadsheets/
stacks/old/
stacks/popmap.test_samples.tsv
stacks/barcodes_complete_inventory.txt 
stacks/.Rhistory 
stacks/info/*
stacks/scripts/rundenovomap_old.sh 
r80-stats.txt
stacks/info/old/ 
.Rproj.user
.Rhistory
TM-Evol-2021-talk.pptx
distruct1.1.tar.gz
population-structure/.DS_Store
population-structure/adegenet/
population-structure/admixture/
population-structure/conStruct/
population-structure/pca/
population-structure/populations.distichusonly.R0.7.noBahamas.str
population-structure/populations.distichusonly.R0.7.str
stacks/genome-alignment/
stacks/popmap.tsv
