info/.Rhistory
distichus-ddRADseq.code-workspace 
Mello_2019_samples_lane_1_plate_order.xlsx
Myers_Plate_Order_ddRADseq_Phylogeography.xlsx
sequencing/
library_prep/
writing/
preliminary_sampling_spreadsheets/
stacks/old/
stacks/popmap.test_samples.tsv
stacks/barcodes_complete_inventory.txt 
stacks/.Rhistory 
stacks/scripts/rundenovomap_old.sh 
r80-stats.txt
stacks/info/old/ 
