.DS_Store
JTL-variant-calling
PC1vPC2inclBahamas.pdf
bcftools-call.slurm
distichus_ND2_onlyidentifiers.txt
doDaFilta.sh
info/
mtDNA/
oddball-distichus-from-Pietro
phylogeny-estimation/.DS_Store
phylogeny-estimation/iqtree/
phylogeny-estimation/treemix/
population-structure/eems/
population-structure/plink2treemix.py
population-structure/scripts/.DS_Store
population-structure/scripts/params-chain1.ini
population-structure/scripts/params-chain2.ini
population-structure/scripts/params-chain3.ini
population-structure/scripts/plot-ADMIXTURE.r
population-structure/scripts/run-spatial-analysis-adegenet.R
ref-alignment-assembly/.DS_Store
ref-alignment-assembly/bamfiles-sorted-localities.txt
ref-alignment-assembly/bamfiles.txt
ref-alignment-assembly/bcftools-samples-to-merge.txt
ref-alignment-assembly/qualimap-input-information.tsv
ref-alignment-assembly/scripts/qualimap-input-information.tsv
ref-alignment-assembly/scripts/run-jobs.sh
scratch-touch.sh
stacks/.DS_Store
~$TM-Evol-2021-talk.pptx
~$Mello_2019_samples_lane_1_plate_order.xlsx
distichus-ddRADseq.code-workspace 
Mello_2019_samples_lane_1_plate_order.xlsx
Myers_Plate_Order_ddRADseq_Phylogeography.xlsx
sequencing/
library_prep/
writing/
preliminary_sampling_spreadsheets/
stacks/.Rhistory
stacks/old/
stacks/popmap.test_samples.tsv
stacks/barcodes_complete_inventory.txt
stacks/info/*
stacks/scripts/rundenovomap_old.sh 
r80-stats.txt
stacks/info/old/ 
.Rproj.user
.Rhistory
TM-Evol-2021-talk.pptx
distruct1.1.tar.gz
population-structure/.DS_Store
population-structure/adegenet/
population-structure/admixture/
population-structure/conStruct/
population-structure/pca/
population-structure/populations.distichusonly.R0.7.noBahamas.str
population-structure/populations.distichusonly.R0.7.str
stacks/*
Mello_2019_distichus_ddRAD_complete_sampling.xlsx
*.png
*.pdf
*/.Rhistory
